body
{
   background-color: #4958DA;
}

form
{
   background-color: #4958DA;
}
h1
{
color:black;
}
table
{
margin: 0 auto;
    padding: 5px;
    border: medium solid black;
}

th
{
    padding: 5px;
    border: medium solid black;
    background-color: #4958DA;
}

tr
{
    padding: 5px;
        border: medium solid black;
}

td
{
    text-align: center;
        font-weight: 700;
        padding: 5px;
        border: medium solid black;
}

.center
{
  color: black;
  font-size:24px;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  width: 20%;
}

#searchBox
{
  width: 230px;
  height: 35px;
  font-size: 18px;
  padding: 5px;
  padding-right: 20px;
  border-radius: 5px;
  opacity: 0.8;
}

#submit
{
  width: 250px;
  height: 40px;
  font-size: 18px;
  padding: 5px;
  padding-right: 20px;
  border-radius: 20px;
}
